# Fichiers Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environnement virtuel
venv/
ENV/
env/

# Fichiers de configuration
.env
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'IDE et d'éditeur
.idea/
.vscode/
*.swp
*.swo
*~
